* @TheophileDiot

.github/ @TheophileDiot
Makefile @TheophileDiot
metadata.json @TheophileDiot
schemas/ @TheophileDiot
extension.js @TheophileDiot
prefs.js @TheophileDiot
SECURITY.md @TheophileDiot
RELEASE.md @TheophileDiot
