
.panel-status-menu-box {
  padding-top: 4px;
}

.ip-info-key {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
}

.ip-info-box {
  padding-left: 20px;
}

.ip-info-value {
  color: rgba(255, 255, 255, 0.95);
}
