
.panel-status-menu-box {
  padding-top: 4px;
}

.ip-info-key {
  color: rgba(255, 255, 255, 0.5);
}

.ip-info-box {
  padding-left: 20px;
}

.ip-info-value {
  color: rgba(255, 255, 255, 0.95);
}

.vpn-status-active {
  color: #2ec27e;
  font-weight: bold;
}

.vpn-status-inactive {
  color: #e5a50a;
  font-weight: bold;
}
